<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738550336424-6fonvuafg7trr4nu407c0e1hu3fvi3kg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738550336424-6fonvuafg7trr4nu407c0e1hu3fvi3kg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>738550336424-ravk5kd04qkphf2hhsv2o407bor4baan.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ5_PnO4XnYJP12WpEt2PKwoPhjHfbQ50</string>
	<key>GCM_SENDER_ID</key>
	<string>738550336424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.connectsol.electronics</string>
	<key>PROJECT_ID</key>
	<string>electronics-demo-38010</string>
	<key>STORAGE_BUCKET</key>
	<string>electronics-demo-38010.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738550336424:ios:3365df70090f26ccb06b9d</string>
	<key>DATABASE_URL</key>
	<string>https://electronics-demo-38010-default-rtdb.firebaseio.com</string>
</dict>
</plist>